
/*header*/ 
*{
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	height: 11%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
	position: fixed;
	
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 15px;
    margin-left: 10px;
}

header a{
    text-decoration: none;
    color: white;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}



.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color:white;
	text-decoration: none;
}

.menu li a:hover{
	color: red;
	transition: all .7s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background:rgb(0, 0, 0);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity .7s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*body*/
body{
    font-family: Tahoma  ;
    margin: 0;
	background-image: url('https://cdn.ipadizate.com/2021/03/iPhone12ProMax-iPhone12Pro-iPhone12-iPhone12Mini-iPhone11ProMax-iPhone11-iPhone11Pro-iPhoneXSMax-iPhoneXR-iPhoneXS-iPhoneX-2.jpg') ;
	background-size: 100%;
} 

#gmusical h1{
	color:blueviolet;
	font-weight: 900;
}

#artistastop h1{
	color:blueviolet;
	font-weight: 900;
}



#gmusical{
	margin-left: 200px;
}
table{
	background-color: rgb(202, 206, 200);
	width: 50% auto;
}

#gmusical img{
	height: 450;
	width: 450;
	justify-content: space-between;
	padding: 30px;
	display: flex;
}

a{
	color: black;
	text-decoration: none;
	font-weight: 900;
}

table a:hover{
	color: red;
}

#artistastop{
	margin-left: 200px;
}

#artistastop img{
	height: 450;
	width: 450;
	justify-content: space-between;
	padding: 30px;
	display: flex;
}

img:hover{
	transition:all 200ms ease-out;
	transform: scale(0.97);
}

/*footer*/

footer{
  background-color:#1c1c1d;
  padding:30px 0 5px;
  font-size:15px;
  line-height:30px;
  color:#a7a4a4;
}

footer h4
{
  text-align: center;
  text-transform:uppercase;
  letter-spacing:5px
}

footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:1px;
  margin-block-end: 1px;
  letter-spacing:10px
}
.text{
	margin-left: 200;
	margin-right: 240;
}

#sep hr{
	border-top-color:#bbb;
	opacity:0.5
}